page-home {

}
ion-card.adv-map p {
font-size: 0.7em !important;
}

button[fab].fab-map {
top: calc(100% - 35px);
z-index: 50;
}

.item-bold {
font-weight: bold;
}

ion-content.cards-bg {
background-color: #f4f4f7;
}

ion-list,ion-card{
    width: 100%;
}
.avatar{
    width:60px;
    height:60px;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float: left;
    position: relative;
    border: 3px solid rgba(247,118,0,0.8);
    box-shadow: 1px 1px 4px 0px rgba(242,129,35,0.75) inset;
    -moz-box-shadow: 1px 1px 4px 0px rgba(242,129,35,0.75)  inset;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(242,129,35,0.75)  inset;
  }
  .avatar-disable{
    border: 3px solid rgba(75, 67, 59, 0.8);
    box-shadow: 1px 1px 4px 0px rgba(242,129,35,0.75) inset;
    -moz-box-shadow: 1px 1px 4px 0px rgba(242,129,35,0.75)  inset;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(242,129,35,0.75)  inset;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  .avatar img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
  }
  .mapImg{
      max-height: 100px;
  }